# OSX
.DS_Store

# Vim.
*.sw*

# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

# Ignore rbenv directives
.rbenv-version
.rbenv-gemsets

# Ignore analytics data.
raw/
source/json
