---
pageable: true
---

<article id="latency-page">
  <div id="map-container">
  </div>
</article>

<%= javascript_include_tag 'pages/bandwidth' %>

<script type="text/javascript" src="json/netmap.jsonp">
</script>
